/* GENERAL */

p, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

/* NAVIGATION */

nav {
  border-bottom: 6px solid #d90029;
  background-color: #2c2e31;
  height: 81px;
}

ul.float-right {
  margin-top: 24px;
}

.kb-logo {
  float: left;
}

.header {
  font-size: 3.5em;
  margin-left: 50px;
  padding: 10px 0;
  color: white;
}

.float-right {
  float: right;
}

nav a:hover {
  text-decoration: none;
}

li.hexagon i.fa:hover {
  color: #d90029;
}

.hexagon {
  width: 50px;
  height: 27px;
  background: #262626;
  position: relative;
  display: inline-block;
  margin-right: 25px;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 13px solid #262626;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 13px solid #262626;
}

i {
  color: white;
  font-size: 1.8em;
  display: block !important;
  text-align: center;
}


/* PROJECT COLUMNS */

#projects-column {
  background-color: rbga(0,0,0,0.7);
  z-index: 2;
}

.col-sm-3 {
  padding: 0;
}

#projects-container .col-sm-3 {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 82vh;
}

.project-title {
  background-color: #d90029;
  text-align: center;
  margin: 0;
  color: white;
  padding: 10px 0 15px 0;
  text-transform: uppercase;
}

#projects-container img {
  border: 3px solid #2c2e31;
  margin: auto;
}


/* MODAL */

.modal img {
  -moz-box-shadow: -3px 1px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -3px 1px 20px rgba(0, 0, 0, 0.3);
  box-shadow: -3px 1px 20px rgba(0, 0, 0, 0.3);
}

.modal-header {
  border-bottom: 4px solid #d90029;
  padding: 0;
  background: #2c2e31;
}

.modal-header button.close {
  color: white;
  text-shadow: none;
  opacity: 1 !important;
  padding: 5px 10px;
}

.modal-header h3 {
  text-transform: uppercase;
  background: #d90029;
  display: inline-block;
  color: white;
  padding: 10px 15px;
}

.modal-header span {
  color: white;
  margin-left: 35px;
  font-size: 1.3em;
}

.modal-body {
  background: #2c2e31;
}

.modal-body p.modal-description {
  text-align: center;
  color: white;
  margin-top: 30px;
}



